<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_858438_u3weephqrn.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/index.min.js"></script>
</head>
<body>
    <header class="header">
        <!-- header contentt -->
        <div class="content">
            <div class="logo-box">
                <a href="/"></a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/">创业咨询</a>
                </li>
                <li>
                    <a href="/">创业课堂</a>
                </li>
                <li>
                    <a href="/">付费资讯</a>
                </li>
                <li>
                    <a href="/">搜索</a>
                </li>
            </ul>

            <div class="auth-box">
                <i class="icon-person-fill iconfont"></i>
                <a href="/">登录</a> /
                <a href="/">注册</a>
            </div>
        </div>
    </header>

    <!--main-->
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper">
                <div class="banner-group" id="banner-group">
                    <ul class="banner-ul" id="banner-ul" >
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523588994_243.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1523504442_455.png">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1521444982_469.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1522742329_629.png">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1525669927_166.jpg">
                            </a>
                        </li>
                    </ul>
                    <span class="arrow left-arrow" id="left-arrow"><a href="#">〈</a></span>
                    <span class="arrow right-arrow" id="right-arrow"><a href="#">〉</a></span>
                    <div class="page-control-group">
                        <ul class="page-control">
                        </ul>

                    </div>
                </div>
                <div class="list-outer-group">
                    <ul class="list-tab">
                        <li class="active"><a href="#">最新资讯</a> </li>
                        <li><a href="#">热点</a> </li>
                        <li><a href="#">深度报道</a> </li>
                        <li><a href="#">干货分享</a> </li>
                        <li><a href="#">投资人说</a> </li>
                    </ul>
                </div>
                <div class="list-inner-group">
                    <ul >
                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""
                                    >
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="#">
                                    王健林卖掉进军海外首个项目:17亿售伦敦ONE六成股权
                                    </a>
                                </p>
                                <p class="desc">
                                    <a href="#">
                                        外界关于万达要出售此前在海外投资项目的消息一直不断。
                                    </a>
                                </p>
                                 <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="thumbnail-group">
                                <a href="#">
                                    <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt=""
                                    >
                                </a>
                            </div>
                            <div class="news-group">
                                <p class="title">
                                    <a href="#">
                                    王健林卖掉进军海外首个项目:17亿售伦敦ONE六成股权
                                    </a>
                                </p>
                                <p class="desc">
                                    <a href="#">
                                        外界关于万达要出售此前在海外投资项目的消息一直不断。
                                    </a>
                                </p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">知了课堂</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="load-more-group">
                    <button class="load-more">查看更多</button>
                </div>
            </div>
            <div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">在线课堂</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a>
                        <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">
                    </a>
                </div>
                    <div class="title-group">
                        <span class="title">关注小饭桌</span>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>